<h5 class="title is-5"> جميع الفئات </h5>
<div class="columns">
        
        <% if @categories.any? %>
            <% @categories.each do |cat| %>
                <div class="column is-1">
                   <%= link_to '#' do %>
                        <figure class="image is-96x96">
                            <%= image_tag cat.image.variant(resize_to_fill: [120, 120]), class: 'has-border-radius-10' %>
                        </figure>
                         
                        <p class="has-text-weight-bold"> <%= cat.name %> </p>
                   <% end %>
                </div>
            <% end %>
        <% else %>
            <p class="has-text-weight-bold"> لا يوجد فئات .. من فضلك تواصل مع صاحب الموقع. </p>
        <% end %>
</div>


<h5 class="title is-5"> احدث الاضافات </h5>
<div class="columns">
        
        <% if @latest_products.any? %>
            <% @latest_products.each do |product| %>
                <div class="column is-2">
                   <%= link_to product_path(product) do %>
                        <figure class="image is-1by1">
                            <%= image_tag product.images[0].image.variant(resize_to_fill: [200, 200]), class: 'has-border-radius-10' %>
                        </figure>
                         
                        <p class="has-text-weight-bold mt-1">
                            <%= product.name %>
                            <% if product.discount.present? %>
                                <span class="tag is-success">
                                    خصم
                                    <%= ((product.discount / product.price) * 100).floor %>
                                    %
                                </span>
                            <% end %>
                        </p>
                        <% if product.description.present? %>
                            <p class="has-text-weight-semibold has-text-grey-light mb-2">
                                <%= product.description.truncate(30) %>
                            </p>
                        <% end %>
                        <p class="title is-6 mt-2 ">
                            <% if product.discount.present? %>
                                <span class="has-text-success">
                                    <%= product.price - product.discount %>
                                    جنيه
                                </span>
                                
                                <span class="has-text-grey-light">
                                    بدلا من
                                    <s> <%= product.price %> </s>
                                </span>

                            <% else %>
                                <span class="has-text-success">
                                    <%= product.price %>
                                    جنيه
                                </span>
                            <% end %>
                        </p>
                   <% end %>
                </div>
            <% end %>
        <% else %>
            <p class="has-text-weight-bold"> لا يوجد. </p>
        <% end %>
</div>