<div class="columns">
    <div class="column is-5">
        <% if @product.images.any? %>
            <Product :images='<%= @product.images.map { |image| rails_blob_path(image.image, only_path: true) } %>'></Product>
        <% else %>
            <figure class="image is-1by1">
                <%= image_pack_tag 'no_image.jpg' %>
            </figure>
        <% end %>
    </div>

    <div class="column">
        <h5 class="title is-5 mb-3">
            <%= @product.name %>
            <% if @product.discount.present? %>
                <span class="tag is-success">
                    خصم
                    <%= ((@product.discount / @product.price) * 100).floor %>
                    %
                </span>
            <% end %>
        </h5>

        <p class="has-text-weight-semibold has-text-gray mb-2">
            <%= @product.description %>
        </p>
        <p  class="has-text-weight-bold has-text-gray">
            العيار:
            <%= @product.gold_type %>
        </p>
        <p  class="has-text-weight-bold has-text-gray">
        الكميه المتوفره:
            <% if @product.stock != 0 %>
                <%= @product.stock %>
            <% else %>
                <span class="has-text-danger">
                    غير متوفر
                </span>
            <% end %>
        </p>
        <p  class="has-text-weight-bold has-text-gray">
            الكود:
            <%= @product.code %>
        </p>
        <p class="title is-5 mt-2 ">
        السعر: 
            <% if @product.discount.present? %>
                <span class="has-text-success">
                    <%= @product.price - @product.discount %>
                    جنيه
                </span>
                
                <span class="has-text-grey-light">
                    بدلا من
                    <s> <%= @product.price %> </s>
                </span>

            <% else %>
                <span class="has-text-success">
                    <%= @product.price %>
                    جنيه
                </span>
            <% end %>
        </p>

        <p  class="has-text-weight-bold has-text-gray">
            
            <%= @product.views %>
            <svg class="pt-1" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
            مشاهده
        </p>
    </div>
</div>