
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li>
            <%= link_to 'المنتجات', products_path %>
        </li>
        <li class="is-active has-text-weight-semibold has-text-grey"><a href="#" aria-current="page"> <%= @product.name %></a></li>
    </ul>
</nav>
<div class="columns">

    <div class="column">
        <h5 class="title is-5"> <%= @product.name %> </h5>
        <p>
            <%= @product.description %>
        </p>
        <p class="has-text-weight-semibold">
            السعر: 
            <span class="has-text-success"> <%= @product.price %> </span>
        </p>

        <p class="has-text-weight-semibold">
            الخصم: 
            <% if @product.discount.present? %>
                <span class="has-text-success"> <%= @product.discount %> </span>
            <% else %>
                لا يوجد
            <% end %>
        </p>
        <% if @product.discount.present? %>
            <p class="has-text-weight-semibold">
                السعر بعد الخصم:
                <span class="has-text-danger">
                    <%= @product.price - @product.discount %> 
                </span>
            </p>
        <% end %>
        <p class="has-text-weight-semibold">
            العيار: 
            <span class="has-text-danger"> <%= @product.gold_type %> </span>
        </p>

        <p class="has-text-weight-semibold">
            الكود: 
            <span class=""> <%= @product.code %> </span>
        </p>

        <p class="has-text-weight-semibold">
            الكميه: 
            <span class=""> <%= @product.stock %> </span>
        </p>

        <p class="has-text-weight-semibold">
            الفئه: 
            <span class=""> <%= @product.category.name %> </span>
        </p>

        <p class="has-text-weight-semibold">
            الفئه الفرعيه: 
            <span class=""> <%= @product.sub_category.name %> </span>
        </p>

        <p class="has-text-weight-semibold">
            الصور: 
            
        </p>
           
    </div>


</div>

<div class="columns">
    <% if @product.images.any? %>
            <% @product.images.each do |image| %>
               <div class="column is-2">
                     <div class="has-background-light has-border-radius-10 p-3 mb-2 ml-2">
                    <figure class="image is-1by1">
                        <%= image_tag image.image.variant(resize_to_fill: [150, 150]), class: 'has-border-radius-10' %>
                    </figure>
                    <p>
                        <%= image.caption %>
                    </p>
                    <%= link_to 'حذف', confirm_category_product_image_path(@product.category, @product, image), class: 'has-text-danger has-text-weight-semibold' %>
                </div>
               </div>
            <% end %>
        <% else %>
            <p class="has-text-weight-bold"> لا يوجد </p>
        <% end %>
        
</div>
<%= link_to 'اضافه صوره', new_category_product_image_path(@product.category, @product), class: 'has-text-weight-bold button' %>
<%= link_to 'تعديل', edit_category_product_path(@product.category, @product), class: 'has-text-weight-bold button' %>
<p class="mt-3"></p> 