<!DOCTYPE html>
<html dir="rtl" class="has-navbar-fixed-top">
  <head>
    <title>GoldApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body class="pt-5">
    <div id="app">
      <%= render partial: 'layouts/header' %>
      <div class="px-6 pt-5">
        <% if flash[:success] %>
          <article class="message is-success">
            <div class="message-body">
              <strong> <%= flash[:success] %> </strong>
            </div>
          </article>
        <% end %>

         <% if flash[:notice] %>
          <article class="message is-success">
            <div class="message-body">
              <strong> <%= flash[:notice] %> </strong>
            </div>
          </article>
        <% end %>

         <% if flash[:alert] %>
          <article class="message is-warning">
            <div class="message-body">
              <strong> <%= flash[:alert] %> </strong>
            </div>
          </article>
        <% end %>




        <%= yield %>
      </div>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
